
/*--------------------------------------------------------
                      SCATTERPLOT
/*------------------------------------------------------*/
/* Format X and Y Axis */
.axis path,
.axis line {
    fill: none;
    stroke: red;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.grid line {
  stroke: black;
  opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid .tick {
  stroke: black;
  stroke-width: 2px;
  opacity: 0.7;
}


/*--------------------------------------------------------
                      CANVAS
/*------------------------------------------------------*/

h4 {
    max-width: 30%;
    //height: 50%;    
}

h3{
     font-family: "Open Sans";
     margin-top: 0px;
}

p{
    font-family: "Roboto"; 
}

/*--------------------------------------------------------
                      SLIDER
/*------------------------------------------------------*/

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=range] {
    display: block;
    width: 120px;
}

/*--------------------------------------------------------
                       GUI
/*------------------------------------------------------*/

button{
    color: black;
    background-color:  #879fc6;/*#c7dbfc;*/
    color: white; 
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px; 
    font-family: "Roboto";
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
}

#gui {
    background: #474747; 
    color: white; 
    margin: 20px;
    padding: 50px; 
    height: 50%;
}

#blue{
    color: blue; 
     font-weight: bold;
}

#green{
    color: lightgreen; 
    font-weight: bold; 
}

#black{
    font-weight: bold; 
}

span#demo{
    margin-top: 20px;
}



/*--------------------------------------------------------
                       FOOTER
/*------------------------------------------------------*/

#footer {
    width:100%; 
    float:left; 
    background-color: #879fc6;
    height:90px;
    font-family: 'Roboto';
}

p#footertxt{
    margin: 5%;
    font-family: 'Roboto';
    font-size: 90%;
    color: white;
}

#git_logo{
    text-align: center;
    margin: 4%;
    color: #595959;
}

#git_logo:hover {
    color: #000000;
}

/*--------------------------------------------------------
                        HEADER           
/*------------------------------------------------------*/
#header {
    width:100%; 
    float:left; 
    background-color: #879fc6;/*#c7dbfc;*/
    color: white;
    height:110px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
}

/*.container{
    padding: 0px;
}
body{
    padding: 0px;

}


.row{
    width: 100%; 
}*/