/*--------------------------------------------------------
                      CANVAS
/*------------------------------------------------------*/

.canvas{
	border:2px solid black;
    width: 95%;
    height: 50%;
}

/* Moving ball */
/*
#ball {
    width:10px;
    height:10px;
    border:6px solid #900;
    border-radius:50%;
    position:absolute;
    left: 108px;
    z-index: -1; /* position behind canvas */


/*--------------------------------------------------------
                       DOT
/*------------------------------------------------------*/

.dot{
}

/*--------------------------------------------------------
                      SLIDER
/*------------------------------------------------------*/

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20%;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/*--------------------------------------------------------
                       GUI
/*------------------------------------------------------*/

/*
#GUIparameters{
    margin-right:10px;
    width: 25%;
}*/


/*--------------------------------------------------------
                       ID
/*------------------------------------------------------*/




/*--------------------------------------------------------
                       CLASSES
/*------------------------------------------------------*/